<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
  </configSections>
  <connectionStrings>
    <add name="YoufferDB" connectionString="Data Source=212.117.213.11\SQLEXPRESS;Initial Catalog=YoufferDB;User ID=sa;Password=TFTpl@123" providerName="System.Data.SqlClient" />
    <add name="vtigercrm600Entities2" connectionString="metadata=res://*/vTigerCRm.csdl|res://*/vTigerCRm.ssdl|res://*/vTigerCRm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=212.117.213.11;user id=joginder;password=youffer;port=33307;persistsecurityinfo=True;database=vtigercrm600&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="YoufferDB" connectionString="Data Source=192.168.103.84;Initial Catalog=YoufferDB;User ID=sa;Password=tftus@123" providerName="System.Data.SqlClient" />
    <add name="vtigercrm600Entities2" connectionString="metadata=res://*/vTigerCRm.csdl|res://*/vTigerCRm.ssdl|res://*/vTigerCRm.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.103.233;user id=joginder;password=youffer;port=33307;persistsecurityinfo=True;database=vtigercrm600&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <paypal>
    <accounts>
      <account apiUsername="yaynetworks_api1.gmail.com" apiPassword="BG2VZQEGMFHCQ9XM" apiSignature="AB.Nu2x2x.NhoUb8ydgsGX4GWdd0ADSNm1.JO9spDpU9ISZWBqOwgBtM" />
    </accounts>
    <settings>
      <add name="mode" value="live" />
    </settings>
  </paypal>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="MySchedular" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="2" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz.config" />
  </quartz>
  <appSettings>

    <add key="VTiger_ServiceUrl" value="http://212.117.213.11:8888" />
    <!--<add key="VTiger_ServiceUrl" value="http://192.168.103.233:8888" />-->

    <add key="UserActivationEmailSubject" value="Welcome user! Do confirm your account!" />
    <add key="UserActivationMailChimpId" value="121761" />

    <add key="VendorActivationEmailSubject" value="Welcome vendor! Do confirm your account!" />
    <add key="VendorActivationMailChimpId" value="121761" />

    <add key="GoogleClientId" value="57403511522-ngo9baqg107v6802163o9hqe24gdagn1.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="myxSOQgJQoW-WEDuZ5D2PeVk" />

    <add key="FaceBookAppId" value="339742169466071" />
    <add key="FaceBookAppSecret" value="6f6b1090df27f86db10d5211200211c0" />
    <add key="FaceBookAppToken" value="339742169466071|uTn91dErrDO8kuepjPt7I_oBbS8" />
    <add key="PlivoAuthToken" value="ZjU4YzgxZjY4ZmQ3MmViZmVlNWZhZWU1ZDk0MjBi" />
    <add key="PlivoAuthId" value="MAYZU3YJBHMJBHOTC3OD" />
    <add key="PlivoFromNumber" value="+14159935854" />
    <add key="TwilioAuthToken" value="434ff15a92efde6b3513432f4520cfd6" />
    <add key="TwilioAccountSid" value="AC45490dfffdbbca71a99a23d631a0a7ca" />
    <add key="TwilioFromNumber" value="+12702451756" />
    <add key="GoogleGCMNotification" value="AIzaSyDaOhagZFnH8uBDAgmR5Zj4M3FVExmVmeI" />
    <add key="AppleCertPwd" value="" />
    <add key="SuperUserId" value="youffersuperadmin_1" />
    <add key="IP2LocationUserId" value="97883" />
    <add key="IP2LocationLicenseKey" value="xgxjZxD1Ps7Z" />
    <add key="PlivoConfirmationMessage" value="" />
    <add key="YoufferWebsiteURL" value="www.youffer.com" />
    <add key="YoufferSupportEmail" value="support@youffer.com" />
    <add key="ResetPasswordUrl" value="http://www.youffer.com/Account/ResetPassword?id={0}" />
    <add key="InvaliEmailForForgotPwd" value="No User found with this email address." />
    <add key="ExpiredLink" value="Invalid Link or link has expired" />
    <add key="EmailUserName" value="tft.legacy@gmail.com" />
    <add key="EmailPassword" value="tftus@123" />
    <add key="EmailDisplayName" value="Youffer" />
    <add key="EmailFromName" value="youffer@gmail.com" />
    <add key="SmtpClientName" value="smtp.gmail.com" />


    <add key="PortNumber" value="587" />

    <add key="UserPrice" value="5.0" />
    <add key="LeadSubInterestFieldIndex" value="35" />
    <add key="OrgSubBusinessTypesFieldIndex" value="38" />
    <add key="OrgMainBusinessTypesFieldIndex" value="53" />
    <add key="MessageDefaultCount" value="50" />
    <add key="ReviewsDefaultCount" value="10" />
    <add key="NotesDefaultCount" value="10" />
    <add key="DashboardLeadsDefaultCount" value="10" />
    <add key="PurchasedClientsDefaultCount" value="10" />
    <add key="UnreviewedClientsDefaultCount" value="10" />
    <add key="HomePageLeadsDefaultCount" value="8" />
    <add key="MarkPurchasedText" value="Product purchased" />
    <add key="DefaultAppleCertPath" value="Resources" />
    <add key="LeadId" value="10x" />
    <add key="OrganisationId" value="11x" />
    <add key="ContactId" value="12x" />
    <add key="ContactUsId" value="43x" />

    <add key="DefaultImageSavePath" value="UserContent\ProfileImage" />
    <add key="DefaultImageUrlPath" value="UserContent/ProfileImage" />

    <add key="DefaultMessageMediaSavePath" value="UserContent\MessageMedia" />
    <add key="DefaultMessageMediaUrlPath" value="UserContent/MessageMedia" />


    <add key="ApiBaseUrl" value="http://localhost:26264/" />
    <add key="DefaultProfileImage" value="UserContent/default.jpg" />


    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VTiger_UserName" value="Youffer" />
    <add key="VTiger_AccessKey" value="tQMA9xYAvwBVqLgh" />
    <!--<add key="vtiger_username" value="admin" />
    <add key="vtiger_accesskey" value="tQMA9xYAvwBVqLgh" />-->

    <add key="success_url" value="http://www.youffer.com:88/api/payment/g2ssuccess" />
    <add key="error_url" value="http://www.youffer.com:88/api/payment/g2serror" />
    <add key="pending_url" value="http://www.youffer.com:88/api/payment/g2spending" />
    <add key="dmn_url" value="http://www.youffer.com:88/api/payment/g2sdmn" />
    <add key="site_payment_url" value="http://localhost:49458/Payment/Done" />
    <add key="interestPrice" value="5.00" />
    <add key="processingFeePercent" value="20" />
    <add key="interestPriceCurrency" value="USD" />
    <add key="merchant_site_id" value="124898" />
    <add key="merchant_id" value="1240866454707031947" />
    <add key="secret_key" value="uHoce47J8NAd3a667Xq9eRJqbA6xLyfwJn3YlfH9bY7A9VUVAva3WZTeVprSTpqK" />
    <add key="test_pppURL" value="https://ppp-test.gate2shop.com/ppp/purchase.do?" />
    <add key="live_pppURL" value="https://secure.gate2shop.com/ppp/purchase.do?" />

    <add key="Mode" value="live" />
    <add key="ClientID" value="ASqLchCFF8nMY3Lqf_Wkyu0CFWwosT97Mq0H57lSIOgvTDQimrn5unaPyRfS" />
    <add key="ClientSecret" value="EI9-nhCCYUftE5CHQSBBONOzZryAUdDwNrYDvji6SdHZAguJMTl_mH6-4TmB" />
    <add key="PaymentMethod" value="paypal" />
    <add key="PaypalReturnURL" value="http://localhost:26264/api/Payment/PaypalConfirmed?id={0}" />
    <add key="PaypalCancelURL" value="http://localhost:26264/api/Payment/PaypalCancelled?id={0}" />
    <add key="WebReturnURL" value="http://localhost:49458/Common/Message?message={0}" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <trace enabled="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.5.0" newVersion="6.9.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>